@import'variable';
@import'footer-nav';

.first_container_wrapper_loft_4 {
    .video-row {
        position: relative;

        .scr {
            opacity: 0.5;

            #myVideo {
                width: 100%;
            }
        }

        .content {
            position: absolute;
            width: 100%;
            top: 50%;
            z-index: 20;

            @media only screen and (max-width: $minimal-screen-size) {
                top: 25%;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                top: 40%;
            }

            .main_heading {
                font-family: $main-family;
                font-style: normal;
                font-weight: bold;
                font-size: 66px;
                line-height: 64px;
                text-align: center;
                color: $base-color;

                margin-bottom: 80px;

                @media only screen and (max-width: $minimal-screen-size) {
                    font-size: 36px;
                    line-height: 54px;
                }
                @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                    font-size: 36px;
                }
                
            }
        }
    }

    .main_row {
        margin-top: 120px;

        @media only screen and (max-width: $minimal-screen-size) {
            margin-top: 100px;
        }
    }

    .forms_block {
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;

        @media only screen and (max-width: $minimal-screen-size) {
            justify-content: center;
        }

        .second-bg {
            top: 0;
            bottom: 0;
            left: -60px;
            right: 0;
            position: absolute;
        }

        .third_heading {
            display: block;
            width: 100%;
            margin-bottom: 50px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;

            color: #D4C17F;
        }

        .third_text_block {
            flex: 1;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-right: 35px;

            color: #FFFFFF;

            @media only screen and (max-width: $minimal-screen-size) {
                margin-right: 0;
                width: 100%;
                max-width: 340px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                padding-left: 26px;
            }
        }

        .form_third-row {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            @media only screen and (max-width: $minimal-screen-size) {
                align-items: center;
                justify-content: center;
                margin-top: 30px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                align-items:center;
                flex-direction: column;
            }

            .input_standart {
                background: rgb(255, 255, 255, 20%);

                width: 255px;
                height: 50px;
                text-align: left;
                padding: 16px;
                transition: 0.2s;

                &:hover {
                    border: 3px solid #d4c17f98;
                }

                &:focus {
                    outline: none;
                    border: 3px solid $base-color;
                }

                &:not(:last-child) {
                    margin-bottom: 35px;

                    @media only screen and (max-width: $minimal-screen-size) {
                        margin-bottom: 20px;
                    }
                }

                &:first-child {
                    margin-right: 35px;

                    @media only screen and (max-width: $minimal-screen-size) {
                        margin-right: 0px;
                    }
                    @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                        margin-right: 0px;
                    }
                }

                &::placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0;


                    color: #BEBEBE;
                }
            }

            .info-warn {
                width: 255px;
                height: 28px;
                margin-right: 35px;
                padding-top: 10px;

                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                text-align: center;

                color: #E7E7E7;

                @media only screen and (max-width: $minimal-screen-size) {
                    margin-right: 0px;
                    order: 4;
                    font-size: 12px;
                    height: inherit;
                    padding-top: 5px;
                }
                @media only screen and (max-width: $minimal-screen-size) {
                   
                }
            }

            .button_chose-area {
                background: #D4C17F;
                width: 255px;
                height: 50px;
                text-align: center;

                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFF;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: #e6d28a;
                    ;


                }

                @media only screen and (max-width: $minimal-screen-size) {
                    margin-top: 15px;
                }
                @media only screen and (max-width: $minimal-screen-size) {
                    margin-top: 15px;

                }
            }

        }
    }

    .list-row {
        margin-top: 80px;

        @media only screen and (max-width: $minimal-screen-size) {
            margin-top: 100px;
        }
        @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
            margin-top: 100px;
        }

        .main_heading {
            font-family: $main-family;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 64px;
            text-align: left;
            color: $base-color;
            display: block;
            width: 100%;

            margin-bottom: 80px;

            @media only screen and (max-width: $minimal-screen-size) {
                font-size: 30px;
                margin-bottom: 30px;
                padding-left: 15px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                font-size: 30px;
                margin-bottom: 30px;
                padding-left: 15px;
            }
        }

        .list_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            @media only screen and (max-width: $minimal-screen-size) {
                flex-direction: column;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                flex-direction: column;
            }

            .list_item {
                position: relative;

                img {
                    @media only screen and (max-width: $minimal-screen-size) {
                        width: 100%;
                    }
                    @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                        width: 100%;
                    }
                }

                @media only screen and (max-width: $minimal-screen-size) {
                    margin-bottom: 30px;
                    width: 350px;
                }
                @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                    margin-bottom: 30px;
                    width: 350px;
                }

                .test_p {
                    color: #fff;
                    position: absolute;
                    display: none;
                    font-weight: 600;
                    font-size: 18px;
                    transition: 0.2s;

                    @media only screen and (max-width: $minimal-screen-size) {
                        display: flex;
                        bottom: 0;
                        left: 20px;
                    }
                    @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                        display: flex;
                        bottom: 0;
                        left: 20px;
                    }
                }

                img {
                    transition: 0.2s;
                }

                &:hover {
                    .test_p {
                        display: flex;
                        bottom: 0;
                        left: 20px;
                    }

                    img {
                        opacity: 0.5;

                    }
                }
            }
        }
    }
}