.footer-nav {
    background-color: #2D343C;
    margin-top: 180px;
    padding: 60px 0 50px 0;

    @media only screen and (max-width: $minimal-screen-size) {
        margin-top: 100px;
        padding: 30px 0 25px 0;

    }
    @media only screen and (min-width: $minimal-screen-size) and (max-width: $average-screen-size) {
        margin-top: 100px;
        padding: 30px 0 25px 0;

    }
.container{
    @media only screen and (min-width: $minimal-screen-size) and(max-width:$average-screen-size) {
        margin-right: 0;
        margin-left: 0;
        min-width: 650px;

    }
    .footer-row {
        @media only screen and (max-width: $minimal-screen-size) {
            display: flex;
            flex-direction: column;
        }

        .footer-nav-column {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 150px;

            @media only screen and (max-width: $minimal-screen-size) {
                height: initial;
                margin-top: 20px;
            }

            .footer-nav_third-column_item_2,
            .footer-nav_third-column_item_3 {
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;

                color: $white-color;
                transition: 0.2s;
                margin: 10px 0;
            }
            .footer-nav_third-column_item_2{
                margin-top: 10px;
                margin-bottom: 0;
                @media only screen and (max-width: $minimal-screen-size) {
                    margin: 10px 0;
                }

            }

            a {
                text-decoration: none;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.05em;

                color: $white-color;
                transition: 0.2s;

                .vip {
                    color: $base-color;
                }

                &:hover {
                    cursor: pointer;
                    color: $base-color;

                }

                @media only screen and (max-width: $minimal-screen-size) {
                    margin: 10px 0;

                }
            }

            .footer_item {
                .social_media {
                    .social_media_img_wrapper {
                        display: flex;
                        align-items: center;

                        @media only screen and (max-width: $minimal-screen-size) {
                            justify-content: center;
                            margin-top: 30px;
                        }

                        a {
                            svg {
                                path {
                                    fill: #fff;
                                    transition: 0.2s;

                                    &:hover {
                                        fill: $base-color;
                                    }
                                }
                            }
                        }

                        a:not(:last-child) {
                            margin-right: 30px;

                        }
                    }
                }
            }
        }
    }
}
}