@import'variable';
.first_container_wrapper_loft_4{
    .video-row{
        position: relative;
        .scr{
            opacity: 0.5;
            #myVideo {
                width: 100%;
              }
        }
        .content {
            position: absolute;
            width: 100%;
            top: 50%;
            z-index: 20;
    
            .main_heading{
                font-family: $main-family;
                font-style: normal;
                font-weight: bold;
                font-size: 66px;
                line-height: 64px;
                text-align: center;
                color: $base-color;
    
                margin-bottom: 80px;
            }
        }
    }
    
    .main_row{
        margin-top: 120px;
        
    }
    .forms_block{
        margin-top: 50px;
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;
        .second-bg{
            top: 0;
            bottom: 0;
            left: -60px;
            right: 0;
            position: absolute;
        }
        .third_heading{
            display: block;
            width: 100%;
            margin-bottom: 50px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;

            color: #D4C17F;
        }
        .third_text_block{
            // display: flex;
            flex: 1;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-right: 35px;

            color: #FFFFFF;
        }
        .form_third-row{
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            .input_standart{
                background: rgb(255, 255, 255,20%);

                width: 255px;
                height: 50px;
                text-align: center;
                transition: 0.2s;
                &:hover{
                border: 3px solid #d4c17f98;
                
                }
                &:focus{
                    outline: none;
                    border: 3px solid $base-color;
                    transition: 0.2s;
                    
                    }
                &:not(:last-child){
                    margin-bottom: 35px;
                }

                &:first-child{
                    margin-right: 35px;
                }

                &:placeholder{
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;


                    color: #BEBEBE;
                }
            }
            .info-warn{
                width: 255px;
                height: 28px;
                margin-right: 35px;
                padding-top: 10px;

                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                text-align: center;

                color: #E7E7E7
            }
            .button_chose-area{
                background: #D4C17F;
                width: 255px;
                height: 50px;
                text-align: center;

                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 27px;
                color: #FFFFFF;
                cursor: pointer;
                transition: 0.2s;
                &:hover{
                    background-color: #e6d28a;;
                    
                    
                }
            }

        }
    }
    .list-row{
        margin-top: 80px;
        .main_heading{
            font-family: $main-family;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 64px;
            text-align: left;
            color: $base-color;
            display: block;
            width: 100%;
            
            margin-bottom: 80px;

        }
        .list_wrapper{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .list_item{
                position: relative;
                .test_p{
                    color: #fff;
                    position: absolute;
                    display: none;
                    font-weight: 600;
                    font-size: 18px;
                    transition: 0.2s
                }
                img{
                    transition: 0.2s;
                }
                &:hover{
                    .test_p{
                        display: flex;
                        bottom: 0;
                        left: 20px;
                    }
                    img{
                        opacity: 0.5;
                        
                    }
                }
            }
        }
    }
}