.third_container_wrapper {
    padding-top: 180px;
    background: url(../img/main/bg/Rectangle1.png);
    background-size: inherit;
    background-repeat: no-repeat;
    background-position-y: 45px;

    @media only screen and (max-width: $minimal-screen-size) {
        padding-top: 100px;
        background: url(../img/mobile_img/second_img.png);
        background-repeat: no-repeat;
    }

    .forms_block {
        display: flex;
        align-items: center;
        flex-direction: row;
        position: relative;

        @media only screen and (max-width: $minimal-screen-size) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .second-bg {
            top: 0;
            bottom: 0;
            left: -60px;
            right: 0;
            position: absolute;

            @media only screen and (max-width: $minimal-screen-size) {
                display: none;
            }
        }

        .third_heading {
            display: block;
            width: 100%;
            margin-bottom: 50px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;

            color: $base-color;

            @media only screen and (max-width: $minimal-screen-size) {
                font-size: 30px;
                padding-left: 15px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                padding-left: 15px;
            }
        }

        .third_text_block {
            display: flex;
            flex: 1;
            font-family: Raleway;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            margin-right: 35px;

            color: $white-color;

            @media only screen and (max-width: $minimal-screen-size) {
                margin-right: 0;
                padding: 16px;

            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                padding-left: 26px;
            }
        }

        .form_third-row {
            display: flex;
            flex-wrap: wrap;
            flex: 1;

            @media only screen and (max-width: $minimal-screen-size) {
                flex-direction: column;
                margin-top: 40px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                align-items:center;
                flex-direction: column;
            }

            .input_standart {
                background: rgb(255, 255, 255, 20%);

                width: 255px;
                height: 50px;
                padding: 16px;
                text-align: left;
                transition: 0.2s;

                &:hover {
                    border: 3px solid #D4C17F98;
                }

                &:focus {
                    outline: none;
                    border: 3px solid $base-color;
                }

                &:not(:last-child) {
                    margin-bottom: 35px;

                    @media only screen and (max-width: $minimal-screen-size) {
                        margin-bottom: 20px;
                    }
                }

                &:first-child {
                    margin-right: 35px;

                    @media only screen and (max-width: $minimal-screen-size) {
                        margin-right: 0px;
                    }
                    @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
                        margin-right: 0px;
                    }
                }

                &::-webkit-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 0px;
                    text-align: center;


                    color: #BEBEBE;
                }

                &::-moz-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 0px;
                    text-align: center;


                    color: #BEBEBE;
                }

                &:-ms-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 0px;
                    text-align: center;


                    color: #BEBEBE;
                }

                &::-ms-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 0px;
                    text-align: center;


                    color: #BEBEBE;
                }

                &::placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    padding: 0px;
                    text-align: center;


                    color: #BEBEBE;
                }
            }

            .info-warn {
                width: 255px;
                height: 28px;
                margin-right: 35px;
                padding-top: 10px;

                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                text-align: center;

                color: #E7E7E7;

                @media only screen and (max-width: $minimal-screen-size) {
                    margin-right: 0px;
                    order: 4;
                    font-size: 12px;
                    height: inherit;
                    padding-top: 5px;
                }
            }

            .button_chose-area {
                background: $base-color;
                width: 255px;
                height: 50px;
                text-align: center;

                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 27px;
                color: $white-color;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: #e6d28a;
                    ;


                }

                @media only screen and (max-width: $minimal-screen-size) {
                    margin-top: 15px;
                }
            }

        }
    }

    .video_frame_row {
        margin-top: 180px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media only screen and (max-width: $minimal-screen-size) {
            margin-top: 100px;
        }
        @media only screen and(min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
            margin-top: 100px;

        }

        .video_frame {
            width: 1110px;
            height: 600px;

            @media only screen and (max-width: $minimal-screen-size) {
                display: flex;
                justify-content: center;
                height: 200px;

            }
             @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                display: flex;
                justify-content: center;
                height: 380px;
            }

            .scr_main {
                width: 1110px;
                // height: 200px;
                opacity: 0.7;

                .vid_main {
                    width: 100%;
                }

                @media only screen and (max-width: $minimal-screen-size) {
                    width: 350px;
                }
                @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                    width: 660px;
                }
            }
        }

        .fourth_bg {
            position: absolute;
            right: -189px;

            @media only screen and (max-width: $minimal-screen-size) {
                display: none;
            }
            @media only screen and (min-width: $minimal-screen-size) and (max-width: $average-screen-size) {
                display: none;
            }
        }
    }

    .maps_nav_row {
        margin-top: 180px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;

        @media only screen and (max-width: $minimal-screen-size) {
            margin-top: 100px;
        }
        @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
            margin-top: 100px;

        }

        .fifth_bg {
            position: absolute;
            left: -144px;
            top: 100px;

            @media only screen and (max-width: $minimal-screen-size) {
                display: none;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                display: none;
            }

        }

        .fifth_heading {
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;
            margin-bottom: 100px;

            color: $base-color;

            @media only screen and (max-width: $minimal-screen-size) {
                padding-left: 15px;
                margin-bottom: 50px;
                font-size: 30px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                padding-left: 15px;

            }
        }

        iframe {
            padding: 0px 15px;
        }
    }

    .questions_row {
        margin-top: 180px;

        @media only screen and (max-width: $minimal-screen-size) {
            margin-top: 100px;
        }
        @media only screen and (min-width: $minimal-screen-size) and (max-width: $average-screen-size) {
            margin-top: 100px;

        }

        .sixth_heading {
            display: block;
            width: 100%;
            margin-bottom: 50px;
            font-family: Playfair Display;
            font-style: normal;
            font-weight: bold;
            font-size: 36px;
            line-height: 48px;

            color: $base-color;

            @media only screen and (max-width: $minimal-screen-size) {
                font-size: 30px;
                padding-left: 15px;
            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                padding-left: 15px;
            }
        }

        form {
            display: flex;
            flex-wrap: wrap;
            flex: 1;
            justify-content: space-between;

            @media only screen and (max-width: $minimal-screen-size) {
                flex-direction: column;
                justify-content: center;
                align-items: center;

            }
            @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                justify-content: space-around;
                align-items: center;
            }

            .input_standart {
                background: rgb(255, 255, 255, 20%);

                width: 255px;
                height: 50px;
                text-align: left;
                padding: 16px;
                transition: 0.2s;

                &:hover {
                    border: 3px solid #D4C17F98;

                }

                &:focus {
                    outline: none;
                    border: 3px solid $base-color;
                    transition: 0.2s;


                }

                &:not(:last-child) {

                    @media only screen and (max-width: $minimal-screen-size) {
                        margin-bottom: 20px;
                    }
                    @media only screen and (min-width: $minimal-screen-size) and (max-width: $average-screen-size) {
                        margin-bottom: 20px;

                    }
                }

                &:first-child {
                    margin-right: 15px;
                   
                }

                &::-webkit-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px;


                    color: #BEBEBE;
                }

                &::-moz-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px;


                    color: #BEBEBE;
                }

                &:-ms-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px;


                    color: #BEBEBE;
                }

                &::-ms-input-placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px;


                    color: #BEBEBE;
                }

                &::placeholder {
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 27px;
                    text-align: center;
                    padding: 0px;


                    color: #BEBEBE;
                }
            }

            .first_name {
                @media only screen and (max-width: $minimal-screen-size) {
                    margin-bottom: 20px;
                }
                @media only screen and (min-width: $minimal-screen-size) and (max-width: $average-screen-size) {
                    margin-bottom: 20px;

                }
            }

            .second_tel {
                @media only screen and (max-width: $minimal-screen-size) {
                    margin-bottom: 35px;
                }
            }

            .info-warn {
                width: 255px;
                height: 28px;
                margin-right: 35px;
                padding-top: 10px;

                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 16px;
                text-align: center;

                color: #E7E7E7;

                @media only screen and (max-width: $minimal-screen-size) {
                    height: initial;
                    margin-right: 0;
                    order: 4;
                    font-size: 12px;
                    padding-top: 5px;
                }
                @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size) {
                    height: initial;
                    margin-right: 0;
                    order: 4;
                    font-size: 12px;
                    padding-top: 5px;
                }
            }

            .button_chose-area {
                background: $base-color;
                width: 255px;
                height: 50px;
                text-align: center;

                font-family: Raleway;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 27px;
                color: $white-color;
                cursor: pointer;
                transition: 0.2s;

                &:hover {
                    background-color: #e6d28a;

                }
            }

        }
    }
}