@import'extra_styles';
@import 'reset';
@import'variable';
@import'main-nav';
@import'second-container';
@import'footer-nav';
@import'third-container';

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    .up {
        width: 30px;
        height: 30px;
        position: fixed;
        bottom: 60px;
        right: 60px;
        z-index: 30;

        &:hover {
            svg {
                fill: $white-color;
            }
        }

        @media only screen and (max-width: $minimal-screen-size) {
            bottom: 30px;
            right: 30px;
        }
        @media only screen and (min-width: $minimal-screen-size) and(max-width: $average-screen-size){
            bottom: 30px;
            left: 610px;
            position: fixed;

        }
    }

    background-color: $bg-color;

    .first_container_wrapper_loft_4 {
        background: none;
    }


    

    .footer_nav_loft_4 {
        margin-top: 100px;
    }
    .footer_nav_mortgage{
        margin-top: 0;
    }
}