@import 'reset';
$base-color: #D4C17F;
$bg-color:#242B33;
$main-family:'Playfair Display', serif;
$dop-family:'Raleway', sans-serif;
html {
    scroll-behavior: smooth;
    }
body{
    background-color: $bg-color; 
    .first_container_wrapper{
        background: url(../img/first_adver_block_bg.png);
        background-repeat: no-repeat;
        background-size:cover;
        background-position-y: -25px;
        .container-xl.first_screen{
            padding-bottom: 75px;
            .first_nav_row{
                margin-top: 30px;
                margin-bottom: 200px;
                .main_navigation_menu{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    
                    .nav-item_a{
                        text-decoration: none;
                        color: #fff;
                        font-weight: 400;
                        font-family: $dop_family;
                        font-size: 16px;
                        &:hover{
                            color: #D4C17F;
                            transition: 0.2s;
                        }
                        
                    }
                }
            }
            .second_row_heading{
                display: flex;
                flex-direction: column;
                align-items: center;
                .main_heading{
                    font-family: $main-family;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 48px;
                    line-height: 64px;
                    text-align: center;
                    color: $base-color;
    
                    width: 556px;
                    margin-bottom: 100px;
                }
                .mouse_button_svg{
                    a{
                        svg{
                            fill:#D4C17F;
                            &:hover{
                                fill:#cfb34d;
                                transition: 0.2s;
                            }
                        }   

                    }
                }
            }
            .contact_row_third{
                margin-top: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                .contact_item{
                    display: flex;
                    align-items: center;
                    &:not(:last-child){
                        margin-right: 100px;
                    } 
                    .logo_contact_item{
                        margin-right: 15px;
                        display: flex;
                        align-items: center;
                        
                    }
                    .main_text_contact{
                        font-family: $dop-family;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;
    
                        color: #FFFFFF;
                    }
                }
                
            }
        }
    }
    
    .second_contaier_wrapper{
        .container-xl.second_screen{
            .advantage_row{
            position: relative;
            padding-top: 115px;
            padding-bottom: 120px;
                .second_bg{
                    position: absolute;
                    right:-13%;
                    top: -13%;
                }
                .advantage_block{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    .adventage_item{
                        
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        flex: 1;
                        height: 230px;
                        &:hover{
                            box-shadow: 0px 0px 20px 0px #191919
                        }
                        .advantage_icon{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-bottom: 53px;
                        }
                        .advantage_text{
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 300;
                            font-size: 20px;
                            line-height: 27px;
                            text-align: center;
                            color: #FFFFFF
                        }
                    }
                }
    
            }
            .list-apartament_row{
                position: relative;
                .third_bg{
                    position: absolute;
                    left:-18%;
                    top: 13%;
                    z-index: -1;
                }
                .second_heading{
                    font-family: Playfair Display;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 48px;
                    color: #D4C17F;
                    display: block;
    
                    margin-bottom: 100px;
                }
                .list-apartament{
                    display: flex;
                    flex-wrap: wrap;
                    .item_1{
                        margin-right: 30px;
                        margin-bottom: 30px;
                    }
                    .item_2{
                        margin-bottom: 30px;
                    }
                    .item_3{
                        margin-right: 30px;
                    }
                    .item{
                        &:hover{
                            box-shadow: 0px 0px 20px 0px #191919;
                            transition: 0.2s;
                            p{
                                bottom: 80px;
                                transition:0.2s;
                                
                                
                            }
                        }
                        position: relative;
                        .list-apartment_img{
                            flex: 1;
                            
                        }
                        p{
                            position: absolute;
                            z-index: 3;
                            bottom: 60px;
                            left: 40px;
    
                            font-family: Raleway;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 20px;
                            line-height: 28px;
    
                            color: #FFFFFF;
                        }
                    }
                }
            }
            
        }
    }
    .third_container_wrapper{
        padding-top: 180px;
        background: url(../img/Rectangle1.png);
        background-size: inherit;
        background-repeat: no-repeat;
        background-position-y: 45px;
        .forms_block{
            display: flex;
            align-items: center;
            flex-direction: row;
            position: relative;
            .second-bg{
                top: 0;
                bottom: 0;
                left: -60px;
                right: 0;
                position: absolute;
            }
            .third_heading{
                display: block;
                width: 100%;
                margin-bottom: 50px;
                font-family: Playfair Display;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;

                color: #D4C17F;
            }
            .third_text_block{
                // display: flex;
                flex: 1;
                font-family: Raleway;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 24px;
                margin-right: 35px;

                color: #FFFFFF;
            }
            .form_third-row{
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                .input_standart{
                    background: rgb(255, 255, 255,20%);

                    width: 255px;
                    height: 50px;
                    text-align: center;
                    &:hover{
                    border: 3px solid #d4c17f98;
                    transition: 0.2s;
                    }
                    &:focus{
                        outline: none;
                        border: 3px solid $base-color;
                        transition: 0.2s;
                        }
                    &:not(:last-child){
                        margin-bottom: 35px;
                    }

                    &:first-child{
                        margin-right: 35px;
                    }

                    &:placeholder{
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 27px;


                        color: #BEBEBE;
                    }
                }
                .info-warn{
                    width: 255px;
                    height: 28px;
                    margin-right: 35px;
                    padding-top: 10px;

                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;

                    color: #E7E7E7
                }
                .button_chose-area{
                    background: #D4C17F;
                    width: 255px;
                    height: 50px;
                    text-align: center;

                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 27px;
                    color: #FFFFFF;
                    cursor: pointer;
                    &:hover{
                        background-color: #e6d28a;;
                        transition: 0.2s;
                        
                    }
                }

            }
        }
        .video_frame_row{
            margin-top: 180px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .fourth_bg{
                position: absolute;
                right: -189px;
            }
        }
        .maps_nav_row{
            margin-top: 180px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            position: relative;
            .fifth_bg{
            position: absolute;
            left: -144px;
            top: 100px;

            }
            .fifth_heading{
                font-family: Playfair Display;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;
                margin-bottom: 100px;

                color: #D4C17F;
            }
        }
        .questions_row{
            margin-top: 180px;
            .sixth_heading{
                display: block;
                width: 100%;
                margin-bottom: 50px;
                font-family: Playfair Display;
                font-style: normal;
                font-weight: bold;
                font-size: 36px;
                line-height: 48px;

                color: #D4C17F;
            }
            form{
                display: flex;
                flex-wrap: wrap;
                flex: 1;
                justify-content: space-between;
                .input_standart{
                    background: rgb(255, 255, 255,20%);

                    width: 255px;
                    height: 50px;
                    text-align: center;
                    &:hover{
                        border: 3px solid #d4c17f98;
                        transition: 0.2s;
                        }
                    &:focus{
                        outline: none;
                        border: 3px solid $base-color;
                        transition: 0.2s;


                        }

                    &:first-child{
                        margin-right: 35px;
                    }

                    &:placeholder{
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 27px;


                        color: #BEBEBE;
                    }
                }
                .info-warn{
                    width: 255px;
                    height: 28px;
                    margin-right: 35px;
                    padding-top: 10px;

                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 16px;
                    text-align: center;

                    color: #E7E7E7
                }
                .button_chose-area{
                    background: #D4C17F;
                    width: 255px;
                    height: 50px;
                    text-align: center;
                    
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 27px;
                    color: #FFFFFF;
                    cursor: pointer;
                    &:hover{
                        background-color: #e6d28a;
                        transition: 0.2s;
                    }
                }

            } 
        }
    }
    .footer-nav {
        background-color: #2D343C;
        margin-top: 180px;
        padding: 60px 0 50px 0;
        .footer-row{
            .footer-nav-column{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                height: 150px;
                a{
                    text-decoration: none;
                    font-family: Raleway;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0.05em;

                    color: #FFFFFF;
                   .vip{
                       color: #D4C17F;
                   }
                   &:hover{
                    cursor: pointer;
                   }
                }
                .footer_item{
                    .social_media{
                        .social_media_img_wrapper{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }
                    }
                }
            }
        }

    }
}